body {
	font-size: 12px;
	background-color: grey;
}
table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
}
table {
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-style: normal;
	color: -internal-quirk-inherit;
	text-align: start;
	font-variant: normal normal;
}
th {
    font-weight: bold;
    text-align: -internal-center;
    background-color: #508abb;
	color: #FFFFFF;
	border-color: #6ea1cc !important;
	text-transform: uppercase;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
h1{
	display: table-caption;
	text-align: -webkit-center;
	font-size: 30px;
	font-family: Bernard MT Condensed;
}